@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-gray text-text-primary font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

